[project]
	description = Compilation of some interesting 4o4 pages
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Saurav Bhattarai (drklrd)
[access "refs/for/refs/*"]
	read = group user/Saurav Bhattarai (drklrd)
	push = group user/Saurav Bhattarai (drklrd)
	label-Code-Review = -2..+2 group user/Saurav Bhattarai (drklrd)
	label-Verified = -1..+1 group user/Saurav Bhattarai (drklrd)
	rebase = group user/Saurav Bhattarai (drklrd)
	removeReviewer = group user/Saurav Bhattarai (drklrd)
	submit = group user/Saurav Bhattarai (drklrd)
[access "refs/heads/*"]
	read = group user/Saurav Bhattarai (drklrd)
	create = group user/Saurav Bhattarai (drklrd)
	push = +force group user/Saurav Bhattarai (drklrd)
	pushMerge = group user/Saurav Bhattarai (drklrd)
[access "refs/tags/*"]
	push = group user/Saurav Bhattarai (drklrd)
	push = +force group user/Saurav Bhattarai (drklrd)
